{% extends '../base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/exam.js'%}" defer></script>
{% endblock scripts %}
    

{% block content %}
    <div class="row">
        <div class="col">
            <b>{{exam.subject}}: {{exam.type}}</b>
            <p>score to pass: {{exam.required_score_to_pass}} %</p>
        </div>
        <div class="col text-right" id="timer-box"></div>

        <form id="exam-form" class="mt-3 mb-3">
            {% csrf_token %}
            <div id="exam-box"></div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </form>
        <div id="score-box"></div>
        <div id="result-box"></div>
    </div>
{% endblock content %}
    