{% extends '../base.html' %}


{% block content %}
    {% include 'students/_header.html' with active='taken' %}
    <div class="card">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Exam</th>
                    <th>Subject</th>
                    <th>Score</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                
                {% for taken_exam in taken_exams %}
                    <tr>
                        <td class="align-middle">{{ taken_exam.exam.type }}</td>
                        <td class="align-middle">{{ taken_exam.exam.subject }}</td>
                        <td class="align-middle {% if taken_exam.score < taken_exam.exam.required_score_to_pass %} bg-danger {% else %} bg-success {% endif %}">{{ taken_exam.score|floatformat:2 }} %</td>
                        <td class="align-middle">
                            {% if taken_exam.score >= 55 and taken_exam.score < 65 %}
                                2
                            {% elif taken_exam.score >= 65 and taken_exam.score < 75 %}
                                3
                            {% elif taken_exam.score >= 75 and taken_exam.score < 90 %}
                                4
                            {% elif taken_exam.score >= 90 and taken_exam.score <= 100 %}
                                5
                            {% elif taken_exam.score < 55 %}
                                1
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="align-middle bg-light text-centar font-italic" colspan="3">You haven't cmpleted any exam yet.</td>
                    </tr>
                {% endfor %}
                     
            </tbody>
        </table>
    </div>
{% endblock content %}
    