{% extends '../base.html' %}


{% block content %}
    {% include 'students/_header.html' with active='taken' %}
    <div class="card">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Exam</th>
                    <th>Subject</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                
                {% for taken_exam in taken_exams %}
                    <tr>
                        <td>{{ taken_exam.exam.type }}</td>
                        <td>{{ taken_exam.exam.subject }}</td>
                        <td {% if taken_exam.score < taken_exam.exam.required_score_to_pass %} class="bg-danger" {% else %} class="bg-success" {% endif %}>{{ taken_exam.score }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="bg-light text-centar font-italic" colspan="3">You haven't cmpleted any exam yet.</td>
                    </tr>
                {% endfor %}
                     
            </tbody>
        </table>
    </div>
{% endblock content %}
    