{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admins:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'admins:exams' %}">Exams</a></li>
      <li class="breadcrumb-item"><a href="{% url 'admins:exam_change_admin' exam.pk %}">{{ exam.type }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'admins:question_change_admin' exam.pk question.pk %}">{{ question.question_text }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
    </ol>
  </nav>
  
  <h2 class="mb-2">Confirm deletion</h2>

  <p class="lead">Are you sure you want to delete the question <strong>"{{question.question_text}}"</strong>? Ther is no going back.</p>
  <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-lg">Yes I'm sure</button>
      <a href="{% url 'admins:question_change_admin' exam.pk question.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Go back</a>
  </form>

 {% endblock content %}