{% extends '../base.html' %}


{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a href="{% url 'admins:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a href="{% url 'admins:users' %}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Students</li>
        </ol>
    </nav>
    <a type="button" href="{% url 'users:add_new_user' %}" class="btn btn-primary mb-3">Add new user</a>
    <div class="card">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Is Active</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td class="align-middle"><a href="{% url 'users:update_user' student.pk %}">{{ student.username }}</a></td>
                <td class="align-middle">{{student.first_name}}</td>
                <td class="align-middle">{{student.last_name}}</td>
                <td class="align-middle">{{student.email}}</td>
                <td class="align-middle">
                  {% if student.is_active == False %}
                    <a type="button" class="btn btn-success float-middle" href="">Activate</a>
                  {% else %}
                    <a type="button" class="btn btn-danger float-middle" href="">Deactive</a>                
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'users:delete_user' student.pk %}" class="btn btn-danger" role="button">Delete</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="bg-light text-center font-italic" colspan="5">There is no any students yet.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}